<!doctype html>
<html>
<head>
<title>Katherine Sullivan</title>
</head>
<body>

<div><a href="/">Home</a> <a href="/about">About</a> <a href="/datetime">Date</a> </div>

<header><img src="logo.svg" alt="Point Park University Logo" width="200"></header>

	{{{body}}}

<footer> Created by Katherine Sullivan</footer>
</body>
<html>

